* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}

/* comienzo de index */
@media (min-width: 540px) and (max-width: 910px) {
  * {
    margin: 0;
  }
}
@media (min-width: 540px) and (max-width: 910px) {
  .navbar {
    width: 100%;
  }
}

.container-fluid .row__parrafo {
  margin-bottom: 50px;
}
.container-fluid .row__parrafo .parrafo__titulo {
  color: #0DCAF0;
  text-align: center;
}
.container-fluid .row__parrafo .parrafo__titulo .parrafo__titulo__h1 {
  font-family: "Noto Sans JP", sans-serif;
  font-size: 4rem;
  font-weight: 600;
}
.container-fluid .row__parrafo .parrafo__descripcion {
  color: #0DCAF0;
  text-align: center;
  font-size: 18px;
  line-height: 40px;
}
.container-fluid .row__parrafo .parrafo__descripcion .parrafo__descripcion__h2 {
  font-family: "Noto Sans JP", sans-serif;
}
@media (min-width: 300px) and (max-width: 768px) {
  .container-fluid .parrafo__descripcion__h2 {
    font-size: 3vh;
  }
}

.container__enlaces {
  width: 90%;
  text-align: center;
  margin-left: 5%;
}
.container__enlaces .enlace1 {
  border-radius: 20px;
  margin-top: 2rem;
}
.container__enlaces .enlace1 .enlaces__img {
  width: 250px;
  height: 250px;
}
.container__enlaces .enlace1 .enlaces__img:hover {
  transform: scale(1.05, 1.05);
  transition: 1.5s;
}
.container__enlaces .enlace1 .enlace1__h2 {
  color: #0DCAF0;
  font-family: "Noto Sans JP", sans-serif;
  display: flex;
  font-size: 3rem;
  justify-content: space-around;
  text-align: center;
}
.container__enlaces .enlace1 .enlace__p {
  color: #0DCAF0;
  font-family: "Noto Sans JP", sans-serif;
  text-align: center;
  font-size: 20px;
}
.container__enlaces .enlace2 {
  border-radius: 20px;
}
.container__enlaces .enlace2 .enlaces__img {
  width: 250px;
  height: 250px;
}
.container__enlaces .enlace2 .enlaces__img:hover {
  transform: scale(1.05, 1.05);
  transition: 1.5s;
}
.container__enlaces .enlace2 .enlace2__h2 {
  color: #0DCAF0;
  font-family: "Noto Sans JP", sans-serif;
  display: flex;
  justify-content: space-around;
  text-align: center;
}
.container__enlaces .enlace2 .enlace__p {
  color: #0DCAF0;
  font-family: "Noto Sans JP", sans-serif;
  display: flex;
  justify-content: space-around;
  text-align: center;
  font-size: 20px;
}
.container__enlaces .enlace3 {
  border-radius: 20px;
  margin-top: 3rem;
}
.container__enlaces .enlace3 .enlaces__img {
  width: 250px;
  height: 250px;
}
.container__enlaces .enlace3 .enlaces__img:hover {
  transform: scale(1.05, 1.05);
  transition: 1.5s;
}
.container__enlaces .enlace3 .enlace3__h2 {
  color: #0DCAF0;
  font-family: "Noto Sans JP", sans-serif;
  display: flex;
  justify-content: space-around;
  text-align: center;
}
.container__enlaces .enlace3 .enlace__p {
  color: #0DCAF0;
  font-family: "Noto Sans JP", sans-serif;
  display: flex;
  justify-content: space-around;
  text-align: center;
  font-size: 20px;
}
@media screen and (min-width: 360px) and (max-width: 540px) {
  .container__enlaces .container__enlaces {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .container__enlaces .container__enlaces .enlace1__h2__h2 {
    font-size: 3rem;
  }
  .container__enlaces .container__enlaces .enlace2__h2__h2 {
    font-size: 3rem;
  }
  .container__enlaces .container__enlaces .enlace3__h2__h2 {
    font-size: 3rem;
  }
}

.columna__titulo .contenido__title {
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
  font-family: "Noto Sans JP", sans-serif;
  color: white;
}
.columna__titulo .columna__video {
  height: 270px;
  width: 400px;
}
.columna__titulo .columna__video .contenido__iframe {
  height: 200px;
  width: 400px;
  border-radius: 8px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
}
@media screen and (min-width: 360px) and (max-width: 540px) {
  .columna__titulo .contenido__title {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
  .columna__titulo .contenido__title h2 {
    font-size: 2rem;
  }
  .columna__titulo .columna__video {
    text-align: center;
    width: 100%;
  }
  .columna__titulo .columna__video .contenido__iframe {
    width: 90%;
  }
}

.container-fluid .container__h2 {
  color: #0DCAF0;
  text-align: center;
  font-family: "Noto Sans JP", sans-serif;
  margin-top: 2rem;
  font-size: 2.5rem;
}

/*Aca comienza el espacio de stickers */
.containerGeneralStickers {
  text-align: center;
  margin-bottom: 3rem;
}
.containerGeneralStickers .container__stickers {
  margin-top: 50px;
  width: 100%;
}
.containerGeneralStickers .container__stickers .col__stickers {
  text-align: center;
}
.containerGeneralStickers .container__stickers .col__stickers .col__img {
  border-radius: 150px;
  background-color: #0DCAF0;
  width: 80px;
  height: 80px;
  text-align: center;
}
.containerGeneralStickers .container__stickers .col__stickers .col__img .col__img1 {
  width: 50px;
  height: 50px;
}
.containerGeneralStickers .container__stickers .col__stickers .col__img .col__img2 {
  width: 70px;
  height: 70px;
  margin-right: 5px;
}
.containerGeneralStickers .container__stickers .col__stickers .col__img .col__img3 {
  width: 65px;
  height: 65px;
}
.containerGeneralStickers .container__stickers .col__stickers .col__img .col__img4 {
  width: 65px;
  height: 65px;
  margin-right: 5px;
}
.containerGeneralStickers .container__stickers .col__stickers .col__h3 .col__asistenciaTecnica {
  color: #0DCAF0;
  font-family: "Noto Sans JP", sans-serif;
  text-align: center;
}
.containerGeneralStickers .container__stickers .col__stickers .col__h3 .col__disenosAMedida {
  color: #0DCAF0;
  font-family: "Noto Sans JP", sans-serif;
}
.containerGeneralStickers .container__stickers .col__stickers .col__h3 .col__enviosATodoElPais {
  color: #0DCAF0;
  font-family: "Noto Sans JP", sans-serif;
  text-align: center;
}
.containerGeneralStickers .container__stickers .col__stickers .col__h3 .col__postVenta {
  color: #0DCAF0;
  font-family: "Noto Sans JP", sans-serif;
  text-align: center;
}
.containerGeneralStickers .container__stickers .col__stickers .col__h3 .col__descripcion {
  color: lightskyblue;
  font-family: "Noto Sans JP", sans-serif;
  font-size: 20px;
  text-align: center;
}
@media screen and (min-width: 360px) and (max-width: 540px) {
  .containerGeneralStickers .containerGeneralStickers {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

footer {
  background-color: #0DCAF0;
  height: 120px;
  margin-bottom: 0;
  color: white;
  font-family: "Noto Sans JP", sans-serif;
}
footer a {
  color: white;
}
footer .footer__instagram .instagram__link {
  border-radius: 50px;
  width: 40px;
  height: 40px;
}
footer .footer__instagram .instagram__link:hover {
  opacity: 0.7;
  transition: 1s;
}
footer .footer__instagram .footer__instagram__h5 {
  color: white;
  font-family: "Noto Sans JP", sans-serif;
  font-size: 20px;
}
footer .footer__mail .mail__link {
  border-radius: 50px;
  width: 30px;
  height: 30px;
  margin-left: 0.3rem;
}
footer .footer__mail .mail__link:hover {
  opacity: 0.7;
  transition: 1s;
}
footer .footer__mail .footer__mail__h5 {
  color: white;
  font-family: "Noto Sans JP", sans-serif;
  font-size: 20px;
}
footer .section__footer__links .footer__links__ul {
  margin-top: 1rem;
}
footer .section__footer__links .footer__links__ul .section__footer__links__li {
  margin: 1rem;
}
@media screen and (min-width: 360px) and (max-width: 540px) {
  footer .section__footer__links .footer__links__ul {
    display: flex;
    flex-direction: column;
    margin-right: 1.5rem;
  }
  footer .section__footer__links .footer__links__ul .section__footer__links__li {
    margin-right: 1rem;
    margin-left: 1rem;
  }
}

/* fin de index */
/* Comienzo de productos */
.containerImg__productos {
  height: 1200px;
  background-image: url("/img/imgProductos/imgProducto .jpg");
  margin: 0;
}
.containerImg__productos .titulo__img__productos {
  color: #0DCAF0;
  margin-top: 20%;
  margin-left: 20%;
  font-size: 6rem;
  font-family: "Noto Sans JP", sans-serif;
  font-weight: 800;
}
@media (min-width: 360px) and (max-width: 540px) {
  .containerImg__productos .titulo__img__productos {
    text-align: center;
    font-size: 3em;
    margin: 0;
  }
}
@media (min-width: 360px) and (max-width: 540px) {
  .containerImg__productos {
    height: 60px;
    width: 100%;
    margin-top: 1rem;
    text-align: center;
    background-image: url("/img/imgProductos/imgProducto .jpg");
    display: flex;
    flex-direction: column;
  }
}

.container__tituloProductos__h2 {
  color: #0DCAF0;
  font-family: "Noto Sans JP", sans-serif;
  margin-top: 20px;
  font-size: 4rem;
}
@media (min-width: 360px) and (max-width: 540px) {
  .container__tituloProductos__h2 {
    text-align: center;
    font-size: 2em;
    margin-top: 2rem;
  }
}

.container__productos .container__img .container__productos__enlace {
  border: solid 4px #0DCAF0;
  border-radius: 10px;
  padding: 2px;
  width: 15rem;
  text-align: center;
  text-decoration: none;
  margin-bottom: 2rem;
}
.container__productos .container__img .container__productos__enlace:hover {
  background-color: #0DCAF0;
  border-color: white;
  transition: 0.5s;
}
.container__productos .container__img .container__productos__enlace .container__productos__enlace__h2 {
  color: #0DCAF0;
  font-family: "Noto Sans JP", sans-serif;
  margin-top: 4px;
}
.container__productos .container__img .container__productos__enlace .container__productos__enlace__h2:hover {
  color: white;
}
@media (min-width: 360px) and (max-width: 540px) {
  .container__productos .container__img .container__productos__enlace {
    margin-top: 2rem;
  }
}
.container__productos .container__img .carousel .carousel-inner {
  text-align: center;
  width: 700px;
  height: 700px;
}
.container__productos .container__img .carousel .carousel-inner .carousel-item .carousel__productos__img {
  height: 650px;
  width: 90%;
  text-align: center;
  margin-top: 1rem;
  border-radius: 10px;
}
@media (min-width: 360px) and (max-width: 540px) {
  .container__productos .container__img .carousel .carousel-inner .carousel-item .carousel__productos__img {
    height: 450px;
    width: 100%;
    margin: 0;
  }
}
@media (min-width: 360px) and (max-width: 540px) {
  .container__productos .container__img .carousel .carousel-inner {
    height: 450px;
    width: 100%;
  }
}
.container__productos .container__img .carousel-control-prev-icon {
  background-color: #0DCAF0;
  color: #0DCAF0;
  border-radius: 50px;
  width: 60px;
  height: 60px;
}
.container__productos .container__img .carousel-control-next-icon {
  background-color: #0DCAF0;
  color: #0DCAF0;
  border-radius: 50px;
  width: 60px;
  height: 60px;
}

.container__busqueda {
  height: 30%;
  background-color: #0DCAF0;
}
.container__busqueda .col__titulo__busqueda {
  text-align: center;
}
.container__busqueda .col__titulo__busqueda .col__titulo__busqueda__h2 {
  color: #0DCAF0;
  font-family: "Noto Sans JP", sans-serif;
  padding: 15px;
}
@media (min-width: 360px) and (max-width: 540px) {
  .container__busqueda .col__titulo__busqueda .col__titulo__busqueda__h2 {
    padding: 0;
    color: white;
    font-size: 2rem;
  }
}
.container__busqueda .col__titulo__parrafo1 {
  color: white;
  font-family: "Noto Sans JP", sans-serif;
  text-align: center;
  font-size: 25px;
}
@media (min-width: 360px) and (max-width: 540px) {
  .container__busqueda .col__titulo__parrafo1 {
    font-size: 1rem;
  }
}
.container__busqueda .col__titulo__parrafo2 {
  color: white;
  font-family: "Noto Sans JP", sans-serif;
  text-align: center;
  font-size: 25px;
}
@media (min-width: 360px) and (max-width: 540px) {
  .container__busqueda .col__titulo__parrafo2 {
    font-size: 1rem;
  }
}
@media (min-width: 360px) and (max-width: 540px) {
  .container__busqueda {
    height: 40%;
  }
}

.container__titulos__descarga {
  margin-top: 2rem;
  margin-bottom: 3rem;
}
.container__titulos__descarga .col__tituloDescarga {
  color: #0DCAF0;
  font-family: "Noto Sans JP", sans-serif;
  font-size: 2.5rem;
  margin-bottom: 2rem;
}
@media (min-width: 360px) and (max-width: 540px) {
  .container__titulos__descarga .col__tituloDescarga {
    font-size: 2rem;
    text-align: center;
  }
}
.container__titulos__descarga .container__descargas__iframe .container__descargas__iframe {
  border-radius: 20px;
  width: 100%;
}
@media (min-width: 360px) and (max-width: 540px) {
  .container__titulos__descarga .container__descargas__iframe {
    width: 100%;
    height: 300px;
  }
}
.container__titulos__descarga .container__enlacesDeBusqueda .col__enlaces {
  color: #0DCAF0;
  font-family: "Noto Sans JP", sans-serif;
  font-size: 2.5rem;
}
@media (min-width: 360px) and (max-width: 540px) {
  .container__titulos__descarga .container__enlacesDeBusqueda .col__enlaces {
    margin-top: 1rem;
    text-align: center;
    font-size: 2rem;
  }
}
.container__titulos__descarga .container__enlacesDeBusqueda .col__enlaces__stl {
  margin-top: 2rem;
}
.container__titulos__descarga .container__enlacesDeBusqueda .col__enlaces__stl .col__imgEnlaces .col__enlaces__stl__a__imgThingiverse {
  width: 50px;
  height: 50px;
}
.container__titulos__descarga .container__enlacesDeBusqueda .col__enlaces__stl .col__imgEnlaces .col__pagina__h2 {
  font-size: 25px;
  font-family: "roboto", sans-serif;
  color: #0DCAF0;
  margin-top: 10px;
}
.container__titulos__descarga .container__enlacesDeBusqueda .col__enlaces__stl .col__imgEnlaces .col__enlaces__stl__a__imgCults {
  width: 100px;
  height: 50px;
}
.container__titulos__descarga .container__enlacesDeBusqueda .col__enlaces__stl .col__imgEnlaces .col__enlaces__stl__a__imgMyMiniFactory {
  width: 100px;
  height: 60px;
}
.container__titulos__descarga .container__enlacesDeBusqueda .col__enlaces__stl .col__imgEnlaces .col__enlaces__stl__a__imgSketchfab {
  width: 50px;
  height: 50px;
}

/* Aca termina productos */
/* Aca comienza contacto */
.contactoContainer {
  margin-top: 0px;
  background-color: white;
}
.contactoContainer .contacto__fotoContainer {
  background-color: #0DCAF0;
}
.contactoContainer .contacto__fotoContainer .foto__link {
  background-color: #0DCAF0;
}
.contactoContainer .contacto__fotoContainer .foto__link .contacto__foto {
  width: 100%;
}
.contactoContainer .section__contacto {
  background-color: #0DCAF0;
}
.contactoContainer .section__contacto .section__title {
  height: 5rem;
  background-color: white;
  border-radius: 20px;
  margin-bottom: 2rem;
}
.contactoContainer .section__contacto .section__title:hover {
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.3);
  transition: 1s;
}
.contactoContainer .section__contacto .section__title .title__h1 {
  color: #0DCAF0;
  font-family: "Noto Sans JP", sans-serif;
  font-size: 4rem;
  text-align: center;
}
.contactoContainer .section__contacto .section__instagram {
  background-color: white;
  padding: 10px;
  height: 5rem;
  margin-bottom: 2rem;
  border-radius: 20px;
}
.contactoContainer .section__contacto .section__instagram .instagram__link {
  border-radius: 50px;
  width: 70px;
  height: 70px;
  margin-left: 1rem;
}
.contactoContainer .section__contacto .section__instagram .instagram__link:hover {
  opacity: 0.7;
  transition: 1s;
}
.contactoContainer .section__contacto .section__instagram .instagram__h3 {
  color: #0DCAF0;
  font-family: "Noto Sans JP", sans-serif;
  font-size: 20px;
}
.contactoContainer .section__contacto .section__mail {
  background-color: white;
  padding: 10px;
  height: 5rem;
  border-radius: 20px;
}
.contactoContainer .section__contacto .section__mail .mail__link {
  margin-left: 1.3rem;
  width: 55px;
  height: 55px;
}
.contactoContainer .section__contacto .section__mail .mail__link:hover {
  opacity: 0.7;
  transition: 1s;
}
.contactoContainer .section__contacto .section__mail .mail__h3 {
  margin-left: 10px;
  color: #0DCAF0;
  font-family: "Noto Sans JP", sans-serif;
  font-size: 20px;
}

.section__formAndMap {
  width: 80%;
  margin-top: 3rem;
  text-align: center;
  margin-bottom: 4rem;
}
.section__formAndMap .section__map .section__map__h2 {
  margin-bottom: 2rem;
  color: #0DCAF0;
  font-family: "Noto Sans JP", sans-serif;
  font-size: 2.5rem;
}
.section__formAndMap .section__map .section__map__iframe {
  border-radius: 8px;
}
.section__formAndMap .section__form .section__form__h2 {
  margin-bottom: 2rem;
  color: #0DCAF0;
  font-family: "Noto Sans JP", sans-serif;
  font-size: 2.5rem;
}
.section__formAndMap .section__form .section__form__form {
  background-image: linear-gradient(to bottom, #0DCAF0, white);
  border: 2px solid #eee;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.4);
  width: 600px;
  height: 450px;
  border-radius: 10px;
}
.section__formAndMap .section__form .section__form__form .section__form__container {
  margin-bottom: 1rem;
  height: 3rem;
}
.section__formAndMap .section__form .section__form__form .section__form__container label {
  color: #0DCAF0;
  font-family: "Noto Sans JP", sans-serif;
  font-size: 1.5rem;
}
.section__formAndMap .section__form .section__form__form .section__form__container .section__form__input {
  margin: 2rem;
}
.section__formAndMap .section__form .section__form__form .section__form__container__input {
  width: 90%;
}
.section__formAndMap .section__form .section__form__form .section__form__container__input .section__form__input__textArea {
  width: 90%;
  height: 70%;
}
.section__formAndMap .section__form .section__form__form .section__form__inputSubmit {
  width: 6rem;
  height: 2.5rem;
  border: 1px solid white;
  border-radius: 8px;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
  background-color: #0DCAF0;
  color: white;
  font-family: "Noto Sans JP", sans-serif;
}
.section__formAndMap .section__form .section__form__form .section__form__inputSubmit:hover {
  transform: scale(1.1, 1.1);
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
  transition: 0.5s;
}

/* inicio de seccion servicios */
.servicios__h1 {
  font-size: 4rem;
  font-family: "Noto Sans JP", sans-serif;
  color: #0DCAF0;
  text-align: center;
  margin-top: 2rem;
}

.container__htmlServicios {
  margin-top: 3rem;
  margin-bottom: 6rem;
}
.container__htmlServicios .col__imgServicios {
  border-radius: 200px;
  background-color: #0DCAF0;
  width: 350px;
  height: 350px;
  text-align: center;
}
.container__htmlServicios .col__imgServicios .col__imgImpresion3d {
  width: 250px;
  height: 250px;
}
.container__htmlServicios .col__imgServicios .col__imgDiseno3d {
  width: 200px;
  height: 200px;
}
.container__htmlServicios .col__imgServicios .col__imgProductos {
  width: 200px;
  height: 200px;
}
.container__htmlServicios .col__h3 .col__tituloServicios {
  color: #0DCAF0;
  font-family: "Noto Sans JP", sans-serif;
  font-size: 2.5rem;
  text-align: center;
  margin-top: 2rem;
}
.container__htmlServicios .col__h3 .col__descripcionServicios {
  color: lightskyblue;
  font-family: "Noto Sans JP", sans-serif;
  font-size: 1rem;
  text-align: center;
  margin-top: 1rem;
}

/* fin de seccion servicios */
/* comienzo de seccion mates */
.container__tituloMates__h2 {
  color: #0DCAF0;
  font-size: 4rem;
  font-family: "Noto Sans JP", sans-serif;
  font-weight: 600;
  margin-top: 3rem;
  margin-bottom: 2rem;
  text-align: center;
}

.container__general__mates {
  background-color: #0DCAF0;
  border-radius: 8px;
}
.container__general__mates .container__mates {
  margin-top: 2rem;
}
.container__general__mates .container__mates .container__mates__h2 {
  color: white;
  font-family: "Noto Sans JP", sans-serif;
  font-size: 2.5rem;
  margin-bottom: 2rem;
}
.container__general__mates .container__mates .container__mates__mate {
  height: 400px;
  width: 400px;
  border-radius: 8px;
  background-image: url("/img/imgProductos/mates/Matevader.jpeg");
}
.container__general__mates .container__mates .container__mates__mate:hover {
  transform: scale(1.1, 1.1);
  transition: 1s;
}
.container__general__mates .container__mates__ultimaFila {
  margin-top: 2rem;
  padding-bottom: 2rem;
}
.container__general__mates .container__mates__ultimaFila .container__mates__h2 {
  color: white;
  font-family: "Noto Sans JP", sans-serif;
  font-size: 2.5rem;
  margin-bottom: 2rem;
}
.container__general__mates .container__mates__ultimaFila .container__mates__mate {
  height: 400px;
  width: 400px;
  border-radius: 8px;
}
.container__general__mates .container__mates__ultimaFila .container__mates__mate:hover {
  transform: scale(1.1, 1.1);
  transition: 1s;
}

/* fin de seccion mates */
/* Inicion de seccion macetas */
.container__tituloMacetas__h2 {
  color: #0DCAF0;
  font-size: 4rem;
  font-family: "Noto Sans JP", sans-serif;
  font-weight: 600;
  margin-top: 3rem;
  margin-bottom: 2rem;
  text-align: center;
}

.container__general__macetas {
  background-color: #0DCAF0;
  border-radius: 8px;
  padding-top: 0.5rem;
  margin-top: 1.5rem;
}
.container__general__macetas .container__macetas {
  margin-top: 2rem;
}
.container__general__macetas .container__macetas .container__macetas__h2 {
  color: white;
  font-family: "Noto Sans JP", sans-serif;
  font-size: 2.5rem;
  margin-bottom: 2rem;
}
.container__general__macetas .container__macetas .container__macetas__maceta {
  height: 400px;
  width: 400px;
  border-radius: 8px;
}
.container__general__macetas .container__macetas .container__macetas__maceta:hover {
  transform: scale(1.1, 1.1);
  transition: 1s;
}
.container__general__macetas .container__macetas__ultimaFila {
  margin-top: 2rem;
  padding-bottom: 2rem;
}
.container__general__macetas .container__macetas__ultimaFila .container__macetas__h2 {
  color: white;
  font-family: "Noto Sans JP", sans-serif;
  font-size: 2.5rem;
  margin-bottom: 2rem;
}
.container__general__macetas .container__macetas__ultimaFila .container__macetas__maceta {
  height: 400px;
  width: 400px;
  border-radius: 8px;
}
.container__general__macetas .container__macetas__ultimaFila .container__macetas__maceta:hover {
  transform: scale(1.1, 1.1);
  transition: 1s;
}

/* fin de seccion macetas */
/* comienzo de seccion soportes */
.container__tituloSoportes__h2 {
  color: #0DCAF0;
  font-size: 4rem;
  font-family: "Noto Sans JP", sans-serif;
  font-weight: 600;
  margin-top: 3rem;
  margin-bottom: 2rem;
  text-align: center;
}

.container__general__soportes {
  background-color: #0DCAF0;
  border-radius: 8px;
  padding-top: 0.5rem;
  margin-top: 1.5rem;
}
.container__general__soportes .container__soportes {
  margin-top: 2rem;
}
.container__general__soportes .container__soportes .container__soportes__h2 {
  color: white;
  font-family: "Noto Sans JP", sans-serif;
  font-size: 2.5rem;
  margin-bottom: 2rem;
}
.container__general__soportes .container__soportes .container__soportes__soporte {
  height: 400px;
  width: 400px;
  border-radius: 8px;
}
.container__general__soportes .container__soportes .container__soportes__soporte:hover {
  transform: scale(1.1, 1.1);
  transition: 1s;
}
.container__general__soportes .container__soportes__ultimaFila {
  margin-top: 2rem;
  padding-bottom: 2rem;
}
.container__general__soportes .container__soportes__ultimaFila .container__soportes__h2 {
  color: white;
  font-family: "Noto Sans JP", sans-serif;
  font-size: 2.5rem;
  margin-bottom: 2rem;
}
.container__general__soportes .container__soportes__ultimaFila .container__soportes__soporte {
  height: 400px;
  width: 400px;
  border-radius: 8px;
}
.container__general__soportes .container__soportes__ultimaFila .container__soportes__soporte:hover {
  transform: scale(1.1, 1.1);
  transition: 1s;
}

/* fin de seccion soportes */
/* comienzo de seccion lamparas */
.container__tituloLamparas__h2 {
  color: #0DCAF0;
  font-size: 4rem;
  font-family: "Noto Sans JP", sans-serif;
  font-weight: 600;
  margin-top: 3rem;
  margin-bottom: 2rem;
  text-align: center;
}

.container__general__lamparas {
  background-color: #0DCAF0;
  border-radius: 8px;
  padding-top: 0.5rem;
  margin-top: 1.5rem;
}
.container__general__lamparas .container__lamparas {
  margin-top: 2rem;
}
.container__general__lamparas .container__lamparas .container__lamparas__h2 {
  color: white;
  font-family: "Noto Sans JP", sans-serif;
  font-size: 2.5rem;
  margin-bottom: 2rem;
}
.container__general__lamparas .container__lamparas .container__lamparas__lampara {
  height: 500px;
  width: 500px;
  border-radius: 8px;
}
.container__general__lamparas .container__lamparas .container__lamparas__lampara:hover {
  transform: scale(1.1, 1.1);
  transition: 0.5s;
}
.container__general__lamparas .container__lamparas__ultimaFila {
  margin-top: 2rem;
  padding-bottom: 2rem;
}
.container__general__lamparas .container__lamparas__ultimaFila .container__lamparas__h2 {
  color: white;
  font-family: "Noto Sans JP", sans-serif;
  font-size: 2.5rem;
  margin-bottom: 2rem;
}
.container__general__lamparas .container__lamparas__ultimaFila .container__lamparas__lampara {
  height: 500px;
  width: 500px;
  border-radius: 8px;
}
.container__general__lamparas .container__lamparas__ultimaFila .container__lamparas__lampara:hover {
  transform: scale(1.1, 1.1);
  transition: 0.5s;
}

/* fin de seccion lamparas */
/* inicio de seccion lapiceros y oirganizadores */
.container__tituloLapicerosYOrganizadores__h2 {
  color: #0DCAF0;
  font-size: 4rem;
  font-family: "Noto Sans JP", sans-serif;
  font-weight: 600;
  margin-top: 3rem;
  margin-bottom: 2rem;
  text-align: center;
}

.container__general__LapicerosYOrganizadores {
  background-color: #0DCAF0;
  border-radius: 8px;
  padding-top: 0.5rem;
  margin-top: 1.5rem;
}
.container__general__LapicerosYOrganizadores .container__LapicerosYOrganizadores {
  margin-top: 2rem;
}
.container__general__LapicerosYOrganizadores .container__LapicerosYOrganizadores .container__LapicerosYOrganizadores__h2 {
  color: white;
  font-family: "Noto Sans JP", sans-serif;
  font-size: 2.5rem;
  margin-bottom: 2rem;
}
.container__general__LapicerosYOrganizadores .container__LapicerosYOrganizadores .container__LyOs__LyO {
  height: 500px;
  width: 500px;
  border-radius: 8px;
}
.container__general__LapicerosYOrganizadores .container__LapicerosYOrganizadores .container__LyOs__LyO:hover {
  transform: scale(1.1, 1.1);
  transition: 0.5s;
}
.container__general__LapicerosYOrganizadores .container__LapicerosYOrganizadores__ultimaFila {
  margin-top: 2rem;
  padding-bottom: 2rem;
}
.container__general__LapicerosYOrganizadores .container__LapicerosYOrganizadores__ultimaFila .container__LapicerosYOrganizadores__h2 {
  color: white;
  font-family: "Noto Sans JP", sans-serif;
  font-size: 2.5rem;
  margin-bottom: 2rem;
}
.container__general__LapicerosYOrganizadores .container__LapicerosYOrganizadores__ultimaFila .container__LyOs__LyO {
  height: 500px;
  width: 500px;
  border-radius: 8px;
}
.container__general__LapicerosYOrganizadores .container__LapicerosYOrganizadores__ultimaFila .container__LyOs__LyO:hover {
  transform: scale(1.1, 1.1);
  transition: 0.5s;
}

/* fin de seccion lapiceros y organizadores */

/*# sourceMappingURL=style.css.map */
