*{
	margin: 0;
	padding: 0;
	text-decoration: none;
	list-style: none;
}

body{
	/*background-image: linear-gradient(to right,darkblue,black);*/
	background-color: white;
}
/*Inicio contenido*/


.navbar-light .navbar-brand{
	
	font-size: x-large;
	margin-left: 35%;
}
	

.nav-item:hover{
	background-color: rgb(36, 221, 253);	
	border-radius: 8px;
	transition: 1s;
	box-shadow: 5px 5px 5px rgba(0,0,0,0.3);
}
.row__parrafo{
	margin-bottom: 50px;
}

.parrafo__titulo{	
    color: #0DCAF0;
	font-family: 'Roboto', sans-serif;
	text-align: center;
}

.parrafo__descripcion{	
    color: #0DCAF0;
	font-family: 'Roboto', sans-serif;
	text-align: center;
	font-size: 18px;
	line-height: 40px;
}
.enlace1{	
		
	border-radius: 20px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	
}

.enlace1__img{
	display: flex;
	justify-content: space-around;
}

.enlaces__img:hover{
	transform: scale(1.05,1.05);
	transition: 1.5s;	
}

.enlace1__h2{
	color: #0DCAF0;
	font-family: 'Noto Sans JP', sans-serif;
	display: flex;
	justify-content: space-around;
	text-align: center;
}

.enlace__p{
	color: #0DCAF0;
	font-family: 'Noto Sans JP', sans-serif;
	display: flex;
	justify-content: space-around;
	text-align: center;
	font-size: 20px;
}

.enlace2{	
		
	border-radius: 20px;
	display: flex;
	flex-direction: column;
	justify-content: center;	
}

.enlace2__img{
	display: flex;
	justify-content: space-around;
}

.enlace2__h2{
	color: #0DCAF0;
	font-family: 'Noto Sans JP', sans-serif;
	display: flex;
	justify-content: space-around;
	text-align: center;
}

.enlace3{
	border-radius: 20px;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.enlace3__img{
	display: flex;
	justify-content: space-around;
}

.enlace3__h2{
	color: #0DCAF0;
	font-family: 'Noto Sans JP', sans-serif;
	display: flex;
	justify-content: space-around;
	text-align: center;
	margin-top: 20px;
}


.enlaces__img{
	width: 250px;
	height: 250px;
	
}

.enlace3__h2{
	display: block;
}



.contenido__title{
	text-align: center;
	margin-top: 2rem;
	margin-bottom: 2rem;
	font-family: 'roboto', sans-serif;
	color: white;
}

.columna__video{
	
	height: 270px;
	width: 400px;
	
}

.contenido__iframe{
	
	height: 200px;
	width: 400px;
    border-radius: 8px;
}

.container__h2{
	color: #0DCAF0;
	text-align: center;
	font-family: 'Roboto', sans-serif;
	margin-top: 2rem;
}

.container__finDePagina{
	margin-top: 70px;
}

.container__stickers{
	margin-top: 50px;
	width: 100%;
	
}
	

.col__img{
	border-radius: 150px;
	background-color: #0DCAF0;
	width: 80px;
	height: 80px;	
	text-align: center;	
}

.col__img1{
	width: 50px;
	height: 50px;
}

.col__img2{
	width: 70px;
	height: 70px;
	margin-right: 5px;
}

.col__img3{
	width: 65px;
	height: 65px;
}

.col__img4{
	width: 65px;
	height: 65px;
	margin-right: 5px;	
}

.col__asistenciaTecnica{
	color: #0DCAF0;
	font-family: 'Roboto', sans-serif;
	text-align: center;	

}

.col__disenosAMedida{
	color: #0DCAF0;
	font-family: 'Roboto', sans-serif;
	

}

.col__enviosATodoElPais{
	color: #0DCAF0;
	font-family: 'Roboto', sans-serif;	
	text-align: center;	

}

.col__postVenta{
	color: #0DCAF0;
	font-family: 'Roboto', sans-serif;
	text-align: center;		
	
}

.col__descripcion{
	color: lightskyblue;
	font-family: 'Roboto', sans-serif;
	font-size: 20px;
	text-align: center;	
	
}




footer{
	background-color: #0DCAF0;
	width: 100%;
	height: 100px;
	margin:auto;
	color: white;
	font-family: 'Roboto', sans-serif;
	
}

footer a{	
	color: white;
}

@media (max-width: 576px){
	.navbar-light .navbar-brand{
		margin-left: 0%;
	}	
	.carousel-inner{
		margin-top: 4rem;
		width: 100%;		
	}
	.col__parrafo{
		margin-top: 0;
	}
	.parrafo__descripcion__h2{		
		font-size: 16px;
	}
	.enlace1__h2__h2{
		font-size: 3rem;
	}
	.enlace2__h2__h2{
		font-size: 3rem;
	}
	.enlace3__h2__h2{
		font-size: 3rem;
	}
	.container__videos{
		margin-top: -2rem;
	}
	
	.columna__video{
		max-width: 500px;
		text-align: center;
	}
	
	.contenido__iframe{
		width: 80%;
	}

	.columna__titulo2{
		margin-top: -3rem;
	}
	.container__h2{
		font-size: 2rem;
	}
	.col__stickers{
		margin-bottom: 20px;
	}

}

/*Aca termina CSS index*/

/*Aca comienza CSS productos*/

.container__productos__img{
	width: 100%;
	height: 1000px;
	
}

.carousel__productos__img{
	height: 700px;
	width: 90%;
	text-align: center;
	margin-top: 1rem;
	border-radius: 10px;
}

.container__tituloProductos__h1{
	color: #0DCAF0;
	font-family: 'Roboto', sans-serif;
	margin-top: 20px;
}



.container__tituloProductos__enlace{
	border: solid 4px #0DCAF0;
	border-radius: 10px;
	padding: 5px;
	font-family: 'Roboto', sans-serif;
	text-decoration: none;
}

.container__tituloProductos__h2{
	color: #0DCAF0;
	font-family: 'Roboto', sans-serif;
	margin-top: 4px;
	
}

.container__tituloProductos__enlace:hover{
	background-color: #0DCAF0;	
	box-shadow: 5px 5px 5px rgba(0,0,0,0.3);
	transition: 1s;
}

.container__tituloProductos__h2:hover{
	color: white;
	transition: 0.8s;	
}

.container__busqueda{
	height: 30%;
	background-color: #0DCAF0;
}

.col__titulo__busqueda2{
	color: white;
	font-family: 'roboto', sans-serif;
	padding: 15px;
	
}

.col__titulo__parrafo1{
	color: white;
	font-family: 'roboto', sans-serif;
	text-align: center;
	font-size: 25px;
	
}
.col__titulo__parrafo2{
	color: white;
	font-family: 'roboto', sans-serif;
	text-align: center;
	font-size: 25px;
	display: flex;
	flex-wrap: wrap;
}

.container__titulos__descarga{
	margin-top: 20px;
	margin-bottom: 20px;

}

.col__tituloDescarga{
	color: #0DCAF0;
	font-family: 'roboto', sans-serif;
}

.col__links{
	height: 250px;
}

.col__enlaces{
	color: #0DCAF0;
	font-family: 'roboto', sans-serif;
}

.container__descargas__iframe{
	border-radius: 20px;
	width: 100%;
}

.col__enlaces__stl__a__imgThingiverse{
	width: 50px;
	height: 50px;
}

.col__enlaces__stl__a__imgCults{
	width: 100px;
	height: 50px;

}

.col__enlaces__stl__a__imgMyMiniFactory{
	width: 100px;
	height: 60px;
}

.col__enlaces__stl__a__imgSketchfab{
	width: 50px;
	height: 50px;
}



.col__pagina__h2{
	font-size: 25px;
	font-family: 'roboto', sans-serif;
	color: #0DCAF0;
	margin-top: 10px;
}


.footer{
	width: 100%;
	height: 100px;
	background-color: #0DCAF0;
}

@media (max-width: 576px){
	.containerImg__productos{
		margin-top: 3rem;
	}
	
	.container__productos__img{
		height: 300px;		
	}
	.container__tituloProductos__h1{
		text-align: center;
	}
	.carousel__productos__img {
		height: 400px;
		width: 100%;		
		border-radius: 10px;
		margin-top: -3rem;
	}
	#carouselExampleControls1{
		margin-bottom: 3rem;
	}
	#carouselExampleControls3{
		margin-bottom: 2rem;
	}
	.container__busqueda{
		margin-top: 7rem;		
	}
	.col__titulo__busqueda{		
		background-color: #0DCAF0;
	}
	.col__titulo__busqueda2{
		padding: 0;
		font-size: 2rem;
		text-align: center;
	}
	.col__titulo__parrafo1{
		background-color: #0DCAF0;
	}
	.col__titulo__parrafo2{
		background-color: #0DCAF0;
		font-size: 1rem;
	}
	.container__titulos__descarga{
		margin-top: 6rem;
		text-align: center;
	}
	.container__descargas__iframe{
		margin-top: 1rem;
		height: 250px;
		border-radius: 0px;
	}
	.container__enlacesDeBusqueda{
		margin-top: 2rem;
		margin-bottom: 2rem;
		text-align: center;		
	}
	.col__enlaces{
		font-size: 2rem;
	}
	.footer{
		height: 8rem;
	}
}

/*Aca termina productos*/

/*Aca inicia contactos*/
.contactoContainer{
	margin-top: 0px;
	background-color: lightskyblue;
}

.contacto__foto{
	width: 100%;
}

.section__contacto{
	background-color: lightskyblue;
}

.section__title{
	height: 5rem;
	background-color: #0DCAF0;	
	margin-bottom: 2rem;		
}

.title__h1{
	color: white;
	font-family: 'roboto', sans-serif;	
	font-size: 40px;
	text-align: center;
}

.title__h1:hover{
	transform:scale(1.1,1.1);
	transition: 2s;
}

.section__instagram{
	background-color: #0DCAF0;	
	padding: 10px;	
	height: 5rem;
	margin-bottom: 2rem;	
}

.instagram__link{
	border-radius: 50px;
	width: 70px;
	height: 70px;
	margin-left: 1rem;	
}

.instagram__link:hover{
	opacity: 0.8;
	transition: 1s;
}

.instagram__h3{	
	
	color: white;
	font-family: 'roboto', sans-serif;
	font-size: 20px;	
}

.section__mail{
	background-color: #0DCAF0;	
	padding: 10px;
	height: 5rem;
}

.mail__link{
	margin-left: 1.3rem;	
    width: 55px;
	height: 55px;
}

.mail__link:hover{
	opacity: 0.8;
	transition: 1s;
}

.mail__h3{
	margin-left: 10px;
	color: white;
	font-family: 'roboto', sans-serif;
	font-size: 20px;
}

.contacto__footer{
	grid-area: contacto__footer;
	background-color: #0DCAF0;
	width: 100%;
}

@media (max-width: 576px){
	.contactoContainer{
		background-color: white;
	}	
	.section__contacto{
		background-color: #0DCAF0;
		margin-bottom: 4rem;
	}
	.section__instagram{
		margin-top: -2rem;
		text-align: left;
	}
	.section__mail{
		margin-top: -2rem;
		text-align: left;
	}
	footer{
		height: 8rem;
	}
}


/*Aca finaliza contactos*/



/*Aca comienza Servicios*/



.container__Servicios{
	margin: 0;
}

.container__htmlServicios{
	margin-top: 3rem;
    margin-bottom: 6rem;
}

.col__imgServicios{
	border-radius: 200px;
	background-color: #0DCAF0;
	width: 350px;
	height: 350px;	
	text-align: center;	
}

.col__imgImpresion3d{
	width: 250px;
	height: 250px;
}

.col__imgDiseno3d{
	width: 200px;
	height: 200px;
	
}
.col__imgProductos{
	width: 200px;
	height: 200px;

}


.col__tituloServicios{
	color: #0DCAF0;
	font-family: 'Roboto', sans-serif;
	text-align: center;	
	margin-top: 2rem;
}


.col__descripcionServicios{
	color: lightskyblue;
	font-family: 'Roboto', sans-serif;
	font-size: 1rem;
	text-align: center;	
	margin-top: 1rem;
}

@media (max-width: 576px){
	.container__imagenServicios{
		margin-top: 3.9rem;
		width: 100%;
	}
	.col__imgServicios{
		width: 250px;
		height: 250px;
	}
	.col__imgImpresion3d{
		width: 200px;
		height: 200px;
	}
	.col__imgDiseno3d{
		width: 170px;
		height: 170px;
	}
	.col__imgProductos{
		width: 170px;
		height: 170px;
	}
}



/*Aca finaliza Servicios*/



