@import 'variables';

*{
    margin: 0;
	padding: 0;
    text-decoration: none;
	list-style: none;
    
}

/* comienzo de index */
@media (min-width: 540px) and (max-width: 910px){
    *{
        margin: 0;
    }
    
}


.navbar{
    @media (min-width: 540px) and (max-width: 910px){
        width: 100%;
    }
}

.container-fluid{
    .row__parrafo{
        margin-bottom: 50px;
        .parrafo__titulo{
            color: $bgColorCeleste1;	        
	        text-align: center;

            .parrafo__titulo__h1{
                font-family: $fontFamilyGeneral;
                font-size: 4rem;
                font-weight: 600;                
            }
        }
        .parrafo__descripcion{
            color: $bgColorCeleste1;	        
	        text-align: center;
	        font-size: 18px;
	        line-height: 40px;
            .parrafo__descripcion__h2{
                font-family: $fontFamilyGeneral;
            }
        }
    } 
    @media (min-width: 300px) and (max-width: 768px){       
        .parrafo__descripcion__h2{
            font-size: 3vh;
            
        }
    }
    
}

.container__enlaces{
    width: 90%;    
    text-align: center;
    margin-left: 5%;

    .enlace1{
        border-radius: 20px;	    
    	margin-top: 2rem;
        .enlaces__img{
            width: 250px;
	        height: 250px;
            &:hover{
                transform: scale(1.05,1.05);
	            transition: 1.5s;	
            }
        }
        .enlace1__h2{
            color: $bgColorCeleste1;
	        font-family: $fontFamilyGeneral;
	        display: flex;
            font-size: 3rem;
	        justify-content: space-around;
	        text-align: center;            
        }
        .enlace__p{
            color: $bgColorCeleste1;
	        font-family: $fontFamilyGeneral;	        
	        text-align: center;
	        font-size: 20px;
        }
    }
    .enlace2{
        border-radius: 20px;    

        .enlaces__img{
            width: 250px;
	        height: 250px;
            &:hover{
                transform: scale(1.05,1.05);
	            transition: 1.5s;	
            }
        }
        .enlace2__h2{
            color: $bgColorCeleste1;
	        font-family: $fontFamilyGeneral;
	        display: flex;
	        justify-content: space-around;
	        text-align: center;
        }
        .enlace__p{
            color: $bgColorCeleste1;
	        font-family: $fontFamilyGeneral;
	        display: flex;
	        justify-content: space-around;
	        text-align: center;
	        font-size: 20px;
        }
        }
    
    .enlace3{
        border-radius: 20px;
	    margin-top: 3rem;

        .enlaces__img{
            width: 250px;
	        height: 250px;
            &:hover{
                transform: scale(1.05,1.05);
	            transition: 1.5s;	
            }
        }
        .enlace3__h2{
            color: $bgColorCeleste1;
	        font-family: $fontFamilyGeneral;
	        display: flex;
	        justify-content: space-around;
	        text-align: center;
        }
        .enlace__p{
            color: $bgColorCeleste1;
	        font-family: $fontFamilyGeneral;
	        display: flex;
	        justify-content: space-around;
	        text-align: center;
	        font-size: 20px;
        }
    }
    @media screen and (min-width: 360px) and (max-width: 540px){       
        .container__enlaces{  
            display: flex;
            flex-direction: row;
            align-items: center;
        
            .enlace1__h2__h2{
                font-size: 3rem;            
            }
            .enlace2__h2__h2{
                font-size: 3rem;            
            }
            .enlace3__h2__h2{
                font-size: 3rem;            
            }
        }
    }
}


.columna__titulo{
    .contenido__title{
        text-align: center;
	    margin-top: 2rem;
	    margin-bottom: 2rem;
	    font-family: $fontFamilyGeneral;
	    color: $bgColorBlanco;
    }
    .columna__video{
        height: 270px;
	    width: 400px;

        .contenido__iframe{
            height: 200px;
	        width: 400px;
            border-radius: 8px;
	        box-shadow: 5px 5px 5px rgba(0,0,0,0.3);
        }
    }
    @media screen and (min-width: 360px) and (max-width: 540px){
        .contenido__title{
            margin-top: 1rem;
            margin-bottom: 1rem;            
            h2{
                font-size: 2rem;
            }
        }
        .columna__video{
            text-align: center;
            width: 100%;

            .contenido__iframe{
                width: 90%;
            }
        }
    }
}

.container-fluid{
    .container__h2{
        color: $bgColorCeleste1;
	    text-align: center;
	    font-family: $fontFamilyGeneral;
	    margin-top: 2rem;
        font-size: 2.5rem;
    }
}
/*Aca comienza el espacio de stickers */
.containerGeneralStickers{
    text-align: center;
    margin-bottom: 3rem;

    .container__stickers{
        margin-top: 50px;
        width: 100%;
        
        .col__stickers{
            text-align: center;
            .col__img{
                border-radius: 150px;
                background-color: $bgColorCeleste1;
                width: 80px;
                height: 80px;	
                text-align: center;	
                .col__img1{
                    width: 50px;
                    height: 50px;
                }
                .col__img2{
                    width: 70px;
                    height: 70px;
                    margin-right: 5px;
                }
                .col__img3{
                    width: 65px;
                    height: 65px;
                }
                .col__img4{
                    width: 65px;
                    height: 65px;
                    margin-right: 5px;	
                }
            }
            .col__h3{
                .col__asistenciaTecnica{
                    color: $bgColorCeleste1;
                    font-family: $fontFamilyGeneral;
                    text-align: center;	            
                }
                
                .col__disenosAMedida{
                    color: $bgColorCeleste1;
                    font-family: $fontFamilyGeneral;                    
                }
                
                .col__enviosATodoElPais{
                    color: $bgColorCeleste1;
                    font-family: $fontFamilyGeneral;	
                    text-align: center;            
                }
                
                .col__postVenta{
                    color: $bgColorCeleste1;
                    font-family: $fontFamilyGeneral;
                    text-align: center;	                
                }

                .col__descripcion{
                    color: lightskyblue;
                    font-family: $fontFamilyGeneral;
                    font-size: 20px;
                    text-align: center;           
                }
            }
            
        }
    }
    @media screen and (min-width: 360px) and (max-width: 540px){
        .containerGeneralStickers{
            display: flex;
            flex-direction: column;
            align-items: center;
            
        }
    }
}

footer{
	background-color: $bgColorCeleste1;	
	height: 120px;	
	margin-bottom: 0;
	color: $bgColorBlanco;
	font-family: $fontFamilyGeneral;
    
    a{
        color: $bgColorBlanco;
    }
    .container__InstagramEmail{
        @media screen and (min-width: 360px) and (max-width: 540px){
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-top: 1rem;
        }

        .footer__instagram{
        
            .instagram__link{
                border-radius: 50px;
                width: 40px;
                height: 40px;      
        
                &:hover{
                    opacity: 0.7;
                    transition: 1s;
                }
            }
            .footer__instagram__h5{
                color: $bgColorBlanco;
                font-family: $fontFamilyGeneral;
                font-size: 20px;
            }
            
        }
        
        .footer__mail{
            
            .mail__link{
                border-radius: 50px;
                width: 30px;
                height: 30px; 
                margin-left: 0.3rem;     
        
                &:hover{
                    opacity: 0.7;
                    transition: 1s;
                }
            }
            .footer__mail__h5{
                color: $bgColorBlanco;
                font-family: $fontFamilyGeneral;
                font-size: 20px;
            }
            
        }
    }

    .section__footer__links{

        .footer__links__ul{
            margin-top: 1rem;
            
            .section__footer__links__li{
                margin: 1rem;
            }
        }
        @media screen and (min-width: 360px) and (max-width: 540px){
            
            .footer__links__ul{
                display: flex;
                flex-direction: column;
                margin-right: 1.5rem;
                
                .section__footer__links__li{
                    margin-right: 1rem;
                    margin-left: 1rem;
                }
            }            
        }        
    }
}

/* fin de index */

/* Comienzo de productos */

.containerImg__productos{    
	height: 1200px;
    background-image: url("/img/imgProductos/imgProducto\ .jpg");
    margin: 0;   


    .titulo__img__productos{
        color: $bgColorCeleste1;
        margin-top: 20%;
        margin-left: 20%;
        font-size: 6rem;
        font-family: $fontFamilyGeneral;
        font-weight: 800;

        @media (min-width: 360px) and (max-width: 540px){
            text-align: center;
            font-size: 3em;
            margin:0;                
        }
        @media (min-width: 540px) and (max-width: 992px){
            text-align: center;
            font-size: 4em;
            margin-top: 1rem;
            margin-left: 0;
        }
        
    }
    @media (min-width: 360px) and (max-width: 540px){
        height: 60px;
        width: 100%;
        margin-top: 1rem;
        text-align: center;
        background-image: url("/img/imgProductos/imgProducto\ .jpg");
        display: flex;
        flex-direction: column;        
    }
    @media (min-width: 540px) and (max-width: 992px){
        height: 100px;
        width: 100%;
        margin-top: 0;
        text-align: center;
        background-image: url("/img/imgProductos/imgProducto\ .jpg");
        display: flex;
        flex-direction: column;
    }    
}

.container__tituloProductos__h2{
    color: $bgColorCeleste1;
	font-family: $fontFamilyGeneral;
	margin-top: 20px;
    font-size: 4rem;
    @media (min-width: 360px) and (max-width: 540px){
        text-align: center;
        font-size: 2em;
        margin-top: 2rem;                
    }
    @media (min-width: 540px) and (max-width: 992px){
        margin-top: 4rem;
        font-size: 3rem;
        text-align: center;
    }
        
}

.container__productos{

    .container__img{

        .container__productos__enlace{

            border: solid 4px $bgColorCeleste1;
	        border-radius: 10px;
	        padding: 2px;
            width: 15rem;
            text-align: center;	        
	        text-decoration: none;
            margin-bottom: 2rem;
            &:hover{
                background-color: $bgColorCeleste1;
                border-color: $bgColorBlanco;
                transition: 0.5s;
            }

            .container__productos__enlace__h2{

                color: $bgColorCeleste1;
                font-family: $fontFamilyGeneral;
	            margin-top: 4px;
                
                &:hover{
                    color: $bgColorBlanco
                    
                }
                
            }
            @media (min-width: 360px) and (max-width: 540px){
                
                margin-top: 2rem;
            }  
        }

        .carousel{
            
            .carousel-inner{
                text-align: center;
                width: 700px;
                height: 700px;

                .carousel-item{
                    
                    .carousel__productos__img{
                        height: 650px;
	                    width: 90%;
	                    text-align: center;
	                    margin-top: 1rem;
	                    border-radius: 10px;

                        @media (min-width: 360px) and (max-width: 540px){
                            height: 450px;
                            width: 100%;
                            margin: 0;
                        }   
                    }
                }
                @media (min-width: 360px) and (max-width: 540px){
                    height: 450px;
                    width: 100%;
                    
                }  
            }
        }
        .carousel-control-prev-icon{
            background-color: $bgColorCeleste1;
            color: $bgColorCeleste1;
            border-radius: 50px;
            width: 60px;
            height: 60px;           
        }
        
        .carousel-control-next-icon{
            background-color: $bgColorCeleste1;
            color: $bgColorCeleste1;
            border-radius: 50px;
            width: 60px;
            height: 60px;
        }
    }
}

.container__busqueda{
    height: 30%;
	background-color: $bgColorCeleste1;
    
    
    .col__titulo__busqueda{
        text-align: center;

        .col__titulo__busqueda__h2{
            color: $bgColorCeleste1;
	        font-family: $fontFamilyGeneral;
	        padding: 15px;

            @media (min-width: 360px) and (max-width: 540px){
                padding: 0;
                color: $bgColorBlanco;
                font-size: 2rem;

            }
            @media (min-width: 540px) and (max-width: 992px){
                padding: 0;
                font-size: 3rem;
                color: $bgColorBlanco;
                margin-bottom: 1rem;
            }  
        }
    }

    .col__titulo__parrafo1{
        color: $bgColorBlanco;
	    font-family: $fontFamilyGeneral;
	    text-align: center;
	    font-size: 25px;
        
        @media (min-width: 360px) and (max-width: 540px){
            font-size: 1rem;
        }
        @media (min-width: 540px) and (max-width: 992px){

        }  
    }
    .col__titulo__parrafo2{
            color: $bgColorBlanco;
        font-family: $fontFamilyGeneral;
        text-align: center;
        font-size: 25px;

        @media (min-width: 360px) and (max-width: 540px){
            font-size: 1rem;
        }
        @media (min-width: 540px) and (max-width: 992px){
            font-size: 1rem;
        } 
    }
    @media (min-width: 360px) and (max-width: 540px){
        height: 40%;
    }
    @media (min-width: 540px) and (max-width: 992px){
        height: 60%;
    } 
}

.container__titulos__descarga{
    margin-top: 2rem;
	margin-bottom: 3rem;

    .col__tituloDescarga{
        color: $bgColorCeleste1;
	    font-family: $fontFamilyGeneral;
        font-size: 2.5rem;
        margin-bottom: 2rem;

        @media (min-width: 360px) and (max-width: 540px){
            font-size: 2rem;
            text-align: center;
        } 
    }
    .container__descargas__iframe{
        .container__descargas__iframe{
            border-radius: 20px;
            width: 100%;

        }
        @media (min-width: 360px) and (max-width: 540px){
            width: 100%;
            height: 300px;
        }
        @media (min-width: 540px) and (max-width: 992px){
            width: 100%;
            height: 400px;
        } 
    }
    .container__enlacesDeBusqueda{
        .col__enlaces{
            color: $bgColorCeleste1;
	        font-family: $fontFamilyGeneral;
            font-size:  2.5rem;

            @media (min-width: 360px) and (max-width: 540px){
                margin-top: 1rem;
                text-align: center;
                font-size: 2rem;
            } 
        }
        .col__enlaces__stl{
            margin-top: 2rem;
            
            .col__imgEnlaces{

                .col__enlaces__stl__a__imgThingiverse{
                    width: 50px;
	                height: 50px;
                }
                .col__pagina__h2{
                    font-size: 25px;
                    font-family: 'roboto', sans-serif;
                    color: #0DCAF0;
                    margin-top: 10px;
                }
                .col__enlaces__stl__a__imgCults{
                    width: 100px;
                    height: 50px;                
                }
                .col__enlaces__stl__a__imgMyMiniFactory{
                    width: 100px;
                    height: 60px;
                }                
                .col__enlaces__stl__a__imgSketchfab{
                    width: 50px;
                    height: 50px;
                }

            }
        }
    }
}

@media (min-width: 360px) and (max-width: 540px){

}
/* Aca termina productos */

/* Aca comienza contacto */

.contactoContainer{
    margin-top: 0px;
	background-color: $bgColorCeleste1;

    .contacto__fotoContainer{

        background-color: $bgColorCeleste1;

        .foto__link{
            background-color: $bgColorCeleste1;
            
            .contacto__foto{
                width: 100%;

                @media (min-width: 360px) and (max-width: 540px){
                    border-radius: 200px;
                    margin-top: 0,5rem;
                }                
            }
            
        }
        @media (min-width: 360px) and (max-width: 540px){
            margin-bottom: 1rem;
            background-color: $bgColorCeleste1;
        }
        @media (min-width: 540px) and (max-width: 992px){
            width: 100%;
        }
    }
    .section__contacto{
        background-color: $bgColorCeleste1;

        .section__title{
            height: 5rem;
	        background-color: $bgColorBlanco;
            border-radius: 20px;	
	        margin-bottom: 2rem;
            &:hover{
                box-shadow: 10px 10px 10px rgba(0,0,0,0.3);
	            transition: 1s;
            }
            
            .title__h1{
                color: $bgColorCeleste1;
	            font-family: $fontFamilyGeneral;	
	            font-size: 4rem;
	            text-align: center;

                @media (min-width: 360px) and (max-width: 540px){
                    font-size: 3rem;
                }
                @media (min-width: 540px) and (max-width: 992px){
                    font-size: 3rem;
                }
            }
            @media (min-width: 360px) and (max-width: 540px){
                height: 4rem;                
            }
            @media (min-width: 540px) and (max-width: 992px){
                height: 4rem;
                margin-top: 1rem;
            }
        }
        .section__instagram{
            background-color: $bgColorBlanco;	
	        padding: 10px;	
	        height: 5rem;
	        margin-bottom: 2rem;
            border-radius: 20px;
            
            .instagram__link{
                border-radius: 50px;
	            width: 70px;
	            height: 70px;
	            margin-left: 1rem;

                &:hover{
                    opacity: 0.7;
                    transition: 1s;
                }
            }
            .instagram__h3{
                color: $bgColorCeleste1;
	            font-family: $fontFamilyGeneral;
	            font-size: 20px;
            }
            @media (min-width: 360px) and (max-width: 540px){
                height: 4rem;                
            }
            @media (min-width: 540px) and (max-width: 992px){
                height: 4rem;                
            }
        }
        .section__mail{
            background-color: $bgColorBlanco;	
            padding: 10px;
            height: 5rem;
            border-radius: 20px;
     
            .mail__link{
                margin-left: 1.3rem;	
                width: 55px;
                height: 55px;                

                &:hover{
                    opacity: 0.7;
                    transition: 1s;
                }
            }

            .mail__h3{
                margin-left: 10px;
                color: $bgColorCeleste1;
                font-family: $fontFamilyGeneral;
                font-size: 20px;
            }
            @media (min-width: 360px) and (max-width: 540px){
                height: 4rem;
                margin-bottom: 2rem;                
            }
            @media (min-width: 540px) and (max-width: 992px){
                height: 4rem; 
                margin-bottom: 2rem;               
            }
        }
    }
}

.section__formAndMap{
    width: 80%;
    margin-top: 3rem;
    text-align: center;
    margin-bottom: 4rem;

    .section__map{
        
        .section__map__h2{
            margin-bottom: 2rem;
            color: $bgColorCeleste1;
            font-family: $fontFamilyGeneral;
            font-size: 2.5rem;
            @media (min-width: 360px) and (max-width: 540px){
                font-size: 2rem;                
            }
        }
        .section__map__iframe{
            border-radius: 8px;
            @media (min-width: 360px) and (max-width: 540px){
                height: 300px;
                width: 100%;
                margin-bottom: 1rem;                
            }
        }
        
    }
    .section__form{

        .section__form__h2{
            margin-bottom: 2rem;
            color: $bgColorCeleste1;
            font-family: $fontFamilyGeneral;
            font-size: 2.5rem;
            @media (min-width: 360px) and (max-width: 540px){
                font-size: 2rem;                
            }
            @media (min-width: 540px) and (max-width: 992px){
                margin-top: 1.5rem;
            }
        }
        .section__form__form{
            background-image: linear-gradient(to bottom,$bgColorCeleste1, $bgColorBlanco) ;
            border: 2px solid #eee;
            box-shadow: 10px 10px 10px rgba(0,0,0,0.4);
            width: 600px;            
            height: 450px;
            border-radius: 10px;           
            
            .section__form__container{
                margin-bottom: 1rem;
                height: 3rem;

                @media (min-width: 360px) and (max-width: 540px){
                    text-align: center;                
                }

                label{
                    color: $bgColorCeleste1;
                    font-family: $fontFamilyGeneral;
                    font-size: 1.5rem;
                    
                }
                .section__form__input{
                    margin: 2rem;
                    
                    @media (min-width: 360px) and (max-width: 540px){
                        width: 130%;                
                    }
                }
            }
            .section__form__container__input{
                width: 90%;

                .section__form__input__textArea{
                    width: 90%;
                    height: 70%;
                    @media (min-width: 360px) and (max-width: 540px){
                        height: 100px;
                        margin-bottom: 1rem;                
                    }
                }
            }
            
            .section__form__inputSubmit{
                width: 6rem;
                height: 2.5rem;
                border: 1px solid $bgColorBlanco;
                border-radius: 8px;
                box-shadow: 2px 2px 2px rgba(0,0,0,0.3);
                background-color: $bgColorCeleste1;
                color: $bgColorBlanco;
                font-family: $fontFamilyGeneral;
                &:hover{
                    transform: scale(1.1,1.1);
                    box-shadow: 5px 5px 5px rgba(0,0,0,0.3);
                    transition: 0.5s;
                }
            }
            @media (min-width: 360px) and (max-width: 540px){
                height: 350px;
                width: 100%;                
            }
        }
    }
}





/* inicio de seccion servicios */

.container__imagenServicios{
    .img-fluid{
        @media (min-width: 360px) and (max-width: 540px){
            
            height: 250px;                       
        }
    }
    @media (min-width: 360px) and (max-width: 540px){
        
        height: 300px;                       
    }
}

.servicios__h1{
    font-size: 4rem;
    font-family: $fontFamilyGeneral;
    color: $bgColorCeleste1;
    text-align: center;
    margin-top: 2rem;
    @media (min-width: 360px) and (max-width: 540px){
        font-size: 2.5rem;
        font-weight: 900;
        margin-top: 0;                
    }
    @media (min-width: 540px) and (max-width: 992px){
        font-size: 4rem;
        font-weight: 900;
    }
}

.container__htmlServicios{
	margin-top: 3rem;
    margin-bottom: 6rem;

    .col__imgServicios{
        border-radius: 200px;
	    background-color: $bgColorCeleste1;
	    width: 350px;
	    height: 350px;	
	    text-align: center;
        
        .col__imgImpresion3d{
            width: 250px;
	        height: 250px;
            @media (min-width: 360px) and (max-width: 540px){
                width: 250px;
	            height: 250px;                       
            }
            @media (min-width: 540px) and (max-width: 992px){
                width: 300px;
                height: 300px; 
            }
        }

        .col__imgDiseno3d{
            width: 200px;
            height: 200px;
            @media (min-width: 360px) and (max-width: 540px){
                width: 200px;
	            height: 200px;                       
            }
            @media (min-width: 540px) and (max-width: 992px){
                width: 250px;
                height: 250px; 
            }
        }
        
        .col__imgProductos{
            width: 200px;
            height: 200px;
            @media (min-width: 360px) and (max-width: 540px){
                width: 200px;
	            height: 200px;                       
            }
            @media (min-width: 540px) and (max-width: 992px){
                width: 250px;
                height: 250px; 
            }
        }
        @media (min-width: 360px) and (max-width: 540px){
            width: 300px;
            height: 300px;                   
        }
        @media (min-width: 540px) and (max-width: 992px){
            width: 400px;
            height: 400px; 
        }
        
    }
    .col__h3{

        .col__tituloServicios{
            color: $bgColorCeleste1;
            font-family: $fontFamilyGeneral;
            font-size: 2.5rem;
            text-align: center;	
            margin-top: 2rem;

            @media (min-width: 360px) and (max-width: 540px){
                font-size: 2.5rem;
                margin-top: 0;

            }
            @media (min-width: 540px) and (max-width: 992px){
                font-size: 3rem;
                margin-top: 1rem;
            }
        }
        
        
        .col__descripcionServicios{
            color: lightskyblue;
            font-family: $fontFamilyGeneral;
            font-size: 1rem;
            text-align: center;	
            margin-top: 1rem;
            @media (min-width: 360px) and (max-width: 540px){
                font-size: 1.5rem;
                margin-bottom: 3rem;
            }
            @media (min-width: 540px) and (max-width: 992px){
                font-size: 2rem;
                margin-bottom: 2rem;
            }
        }
    }
}

/* fin de seccion servicios */

/* comienzo de seccion mates */

.container__tituloMates__h2{
	color: $bgColorCeleste1;
	font-size: 4rem;
	font-family: $fontFamilyGeneral;
    font-weight: 600;
	margin-top: 3rem;
    margin-bottom: 2rem;
	text-align: center;
    @media (min-width: 360px) and (max-width: 540px){
        font-size: 3rem;
        margin-bottom: 3rem;
        margin-top: 2rem;
    }
    @media (min-width: 540px) and (max-width: 992px){
        
    }
}

.container__general__mates{
	background-color: $bgColorCeleste1;
	border-radius: 8px;

    .container__mates{
        margin-top: 2rem;
        @media (min-width: 360px) and (max-width: 540px){
            
            margin-top: 0;
        }
        @media (min-width: 540px) and (max-width: 992px){
            
        }

        .container__mates__h2{
            color: $bgColorBlanco;
            font-family: $fontFamilyGeneral;
            font-size: 2.5rem;
            margin-bottom: 2rem;
            @media (min-width: 360px) and (max-width: 540px){
                
                margin-top: 2rem;
            }
            @media (min-width: 540px) and (max-width: 992px){
                
            }
        }

        .container__mates__mate{
            height: 400px;
            width: 400px;
            border-radius: 8px;
            background-image: url("/img/imgProductos/mates/Matevader.jpeg");

            &:hover {
                transform: scale(1.1,1.1);
	            transition: 1s;            
                
            }
            @media (min-width: 360px) and (max-width: 540px){
                width: 100%;
            }
            @media (min-width: 540px) and (max-width: 992px){
                font-size: 2rem;
                margin-bottom: 2rem;
            }
        }
    }

    .container__mates__ultimaFila{
        margin-top: 2rem;
        padding-bottom: 2rem;

        .container__mates__h2{
            color: $bgColorBlanco;
            font-family: $fontFamilyGeneral;
            font-size: 2.5rem;
            margin-bottom: 2rem;
        }

        .container__mates__mate{
            height: 400px;
            width: 400px;
            border-radius: 8px;

            &:hover{
                transform: scale(1.1,1.1);
                transition: 1s;	
            }
        }
        @media (min-width: 360px) and (max-width: 540px){
            width: 100%;
        }
        @media (min-width: 540px) and (max-width: 992px){
            font-size: 2rem;
            margin-bottom: 2rem;
        }
    }
}


/* fin de seccion mates */

/* Inicion de seccion macetas */

.container__tituloMacetas__h2{
    color: $bgColorCeleste1;
	font-size: 4rem;
	font-family: $fontFamilyGeneral;
    font-weight: 600;
	margin-top: 3rem;
    margin-bottom: 2rem;
	text-align: center;
}

.container__general__macetas{
    background-color: $bgColorCeleste1;
	border-radius: 8px;
    padding-top: 0.5rem;
    margin-top: 1.5rem;

    .container__macetas{	
        margin-top: 2rem;

        .container__macetas__h2{
            color: $bgColorBlanco;
            font-family: $fontFamilyGeneral;
            font-size: 2.5rem;
            margin-bottom: 2rem;
        }

        .container__macetas__maceta{
            height: 400px;
            width: 400px;
            border-radius: 8px;

            &:hover{
                transform: scale(1.1,1.1);
                transition: 1s;
            }
        }        
    }

    .container__macetas__ultimaFila{
        margin-top: 2rem;
        padding-bottom: 2rem;
    
        .container__macetas__h2{
            color: $bgColorBlanco;
            font-family: $fontFamilyGeneral;
            font-size: 2.5rem;
            margin-bottom: 2rem;
        }

        .container__macetas__maceta{
            height: 400px;
            width: 400px;
            border-radius: 8px;

            &:hover{
                transform: scale(1.1,1.1);
                transition: 1s;
            }
        }
    }
}

/* fin de seccion macetas */

/* comienzo de seccion soportes */

.container__tituloSoportes__h2{
	color: $bgColorCeleste1;
	font-size: 4rem;
	font-family: $fontFamilyGeneral;
    font-weight: 600;
	margin-top: 3rem;
    margin-bottom: 2rem;
	text-align: center;
}

.container__general__soportes{
	background-color: $bgColorCeleste1;
	border-radius: 8px;
    padding-top: 0.5rem;
    margin-top: 1.5rem;

    .container__soportes{	
        margin-top: 2rem;

        .container__soportes__h2{
            color: $bgColorBlanco;
            font-family: $fontFamilyGeneral;
            font-size: 2.5rem;
            margin-bottom: 2rem;
        }

        .container__soportes__soporte{
            height: 400px;
            width: 400px;
            border-radius: 8px;

            &:hover{
                transform: scale(1.1,1.1);
                transition: 1s;
            }
        }        
    }

    .container__soportes__ultimaFila{
        margin-top: 2rem;
        padding-bottom: 2rem;

        .container__soportes__h2{
            color: $bgColorBlanco;
            font-family: $fontFamilyGeneral;
            font-size: 2.5rem;
            margin-bottom: 2rem;
        }

        .container__soportes__soporte{
            height: 400px;
            width: 400px;
            border-radius: 8px;

            &:hover{
                transform: scale(1.1,1.1);
                transition: 1s;
            }
        } 
    }
}

/* fin de seccion soportes */

/* comienzo de seccion lamparas */

.container__tituloLamparas__h2{
	color: $bgColorCeleste1;
	font-size: 4rem;
	font-family: $fontFamilyGeneral;
    font-weight: 600;
	margin-top: 3rem;
    margin-bottom: 2rem;
	text-align: center;
}

.container__general__lamparas{
	background-color: $bgColorCeleste1;
	border-radius: 8px;
    padding-top: 0.5rem;
    margin-top: 1.5rem;
    
    .container__lamparas{	
        margin-top: 2rem;

        .container__lamparas__h2{
            color: $bgColorBlanco;
            font-family: $fontFamilyGeneral;
            font-size: 2.5rem;
            margin-bottom: 2rem;
        }

        .container__lamparas__lampara{
            height: 500px;
            width: 500px;
            border-radius: 8px;

            &:hover{
                transform: scale(1.1,1.1);
                transition: 0.5s;
            }
        }
    }

    .container__lamparas__ultimaFila{
        margin-top: 2rem;
        padding-bottom: 2rem;

        .container__lamparas__h2{
            color: $bgColorBlanco;
            font-family: $fontFamilyGeneral;
            font-size: 2.5rem;
            margin-bottom: 2rem;
        }

        .container__lamparas__lampara{
            height: 500px;
            width: 500px;
            border-radius: 8px;

            &:hover{
                transform: scale(1.1,1.1);
                transition: 0.5s;
            }
        }
    }
}

/* fin de seccion lamparas */

 /* inicio de seccion lapiceros y oirganizadores */

.container__tituloLapicerosYOrganizadores__h2{
	color: $bgColorCeleste1;
	font-size: 4rem;
	font-family: $fontFamilyGeneral;
    font-weight: 600;
	margin-top: 3rem;
    margin-bottom: 2rem;
	text-align: center;
}

.container__general__LapicerosYOrganizadores{
	background-color: #0DCAF0;
	border-radius: 8px;
    padding-top: 0.5rem;
    margin-top: 1.5rem;

    .container__LapicerosYOrganizadores{	
        margin-top: 2rem;

        .container__LapicerosYOrganizadores__h2{
            color: $bgColorBlanco;
            font-family: $fontFamilyGeneral;
            font-size: 2.5rem;
            margin-bottom: 2rem;
        }

        .container__LyOs__LyO{
            height: 500px;
            width: 500px;
            border-radius: 8px;

            &:hover{
                transform: scale(1.1,1.1);
                transition: 0.5s;
            }        
        }
    }

    .container__LapicerosYOrganizadores__ultimaFila{
        margin-top: 2rem;
        padding-bottom: 2rem;

        .container__LapicerosYOrganizadores__h2{
            color: $bgColorBlanco;
            font-family: $fontFamilyGeneral;
            font-size: 2.5rem;
            margin-bottom: 2rem;
        }

        .container__LyOs__LyO{
            height: 500px;
            width: 500px;
            border-radius: 8px;

            &:hover{
                transform: scale(1.1,1.1);
                transition: 0.5s;
            }        
        }
    }

}

/* fin de seccion lapiceros y organizadores */